__pycache__/utils.cpython-310.pyc
.ipynb_checkpoints/Homology_Plot-checkpoint.ipynb
.ipynb_checkpoints/TDA_All-checkpoint.ipynb
.ipynb_checkpoints/TDA_Females-checkpoint.ipynb
.ipynb_checkpoints/TDA_Males-checkpoint.ipynb
Data/X_Dist_H0.bin
Data/X_Dist_H1.bin
Data/X_Dist_H2.bin
Data/XX_decolor.bin
Data/XX_Dist_H0.bin
Data/XX_Dist_H1.bin
Data/XX_Dist_H2.bin
Data/XX.bin
Data/XY_decolor.bin
Data/XY_Dist_H0.bin
Data/XY_Dist_H1.bin
Data/XY_Dist_H2.bin
Data/XY.bin
